* {
    margin: 0;
    padding: 0;
}
iframe {
    border: 0px solid black;
    width: 100%;
    height: 100%;
    grid-row: span 2;
    transition: 1s;
    background-color: black;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}
a {
    color: black;
    text-decoration: none;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* header and stopwatch element */
.cover-size {
    width: 100vw;
    height: 100vh;
}
.header {
    padding: 20px;
    color: yellow;
    text-align: center;

    font-family: "neue-haas-unica", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.timecount {
    background-color: yellow;
    border: 1px solid black;

    font-family: "neue-haas-unica", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* elements in grid */
.container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    background-color: white;
    gap: 1px;
}
.container-box {
    color: white;
    padding: 30px;

        text-align: center;
        overflow: scroll;

        font-family: "neue-haas-unica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5em;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
}
.container-box:hover {
    cursor: pointer;
}
.container-box .typing-box {
    background-color: black;
    color: white;
    transition: 0.5s;
    border: none;
    overflow: scroll;

    font-family: "neue-haas-unica", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;

}
.container-box .typing-box:hover {
    color: yellow;
}
.typing-box:focus {
    outline: none;
}

/* menu buttons */
.menu {
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 80px;
    display: block;
    text-align: center;
    cursor: pointer;
}
.menu-alt {
    padding-top: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 80px;
    display: block;
    text-align: center;
    cursor: pointer;
}
.active, .menu:hover {
    background-color: pink;
  }
.menu-alt:hover {
    background-color: pink;
}
.content {
    display: none;
    overflow: hidden;

    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    position: absolute;
    top: 120px;
    padding: 10px;
    height: 30px;
    text-align: center;
    padding-bottom: 0;
    
  }